body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-image:url(topography.png);
  }
  nav {height: 50 px; background-color: black;}

  main {
    padding: 10%;
  }
  
  h1 {
    text-align: left;
  }
  h2 {color: #ff0099;}
  
  header {
    height: 2em;
    background-color: #333333;
  }
  
  img{
    max-height: 3em;
  }
  
  nav>a{
    text-transform: uppercase;  
    float: right;
    vertical-align: middle;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    text-decoration: underline;
    color:#ff0099;
  }
  
  nav>a:hover{
    color:;
  }